<div class="slide"></div>
<!--SECAO INDEX-->
<section>
    <div class="conteiner-index"><p>EM BREVE</p></div>
 <!--CARDS-->
 <div class="conteiner-card" >
    <div class="card1" >
        <div class = "card_texto_null" *ngFor="let filme of filmes | slice:0" >
            <h5>{{filme.nomeFilme}}</h5>
            <p><a class="btn" routerLink="/filme/sobre/{{filme.idFilme}}">Detalhes</a></p>
        </div>
    </div>
    <div class="card2" >
        <div class = "card_texto_null" *ngFor="let filme of filmes | slice:1" >
            <h5>{{filme.nomeFilme}}</h5>
            <p><a class="btn" routerLink="/filme/sobre/{{filme.idFilme}}">Detalhes</a></p>
        </div>
    </div>
    <div class="card3" >
        <div class = "card_texto_null" *ngFor="let filme of filmes | slice:2" >
            <h5>{{filme.nomeFilme}}</h5>
            <p><a class="btn" routerLink="/filme/sobre/{{filme.idFilme}}">Detalhes</a></p>
        </div>
    </div>
</div>  