<div class="slide"></div>
<!--SECAO INDEX-->
<section>
    <div class="conteiner-index"><p>EM BREVE</p></div>
 <!--CARDS-->
 <div class="conteiner-card">
    <div class="card1">
        <div class = "card_texto_null">
        <h5>Avatar: O Caminho da Água</h5>
            <p><a class="btn" href="#">Sinopse</a></p>
        </div>
    </div>
    <div class="card2">
        <div class = "card_texto_null">
        <h5>Avatar 2</h5>
            <p><a class="btn" href="#">Sinopse</a></p>
        </div>
    </div>
    <div class="card3">
        <div class = "card_texto_null">
        <h5>Avatar 2</h5>
            <p><a class="btn" href="#">Sinopse</a></p>
        </div>
    </div>
</div>  