<section class="servicePagamneto container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h1>Cartão de Dinheiro:</h1>
            <div class="row">
                <div class="col-md-6 barraLateral">Pagamentos em dinheiro são pagos na hora da retirada do ingresso, para isso informe
                    o seu CPF para pode facilita na retirada do ingresso.
                </div>
                <div class="col-md-6">
                    CPF:<input type="text">
                </div>
            </div>
              <a class="finalizar" routerLink="/pagamento/fim">Avançar</a>
        </div>
    </div>
</section>	