<section class="servicePagamneto container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h1>Cartão de Débito:</h1>
            <div class="row">
                <mat-form-field class="col-md-5 full-width" appearance="fill">
                    <mat-label>Número do Cartão</mat-label>
                    <input matInput placeholder="Fulano de tal" >
                  </mat-form-field>
                  <mat-form-field class="col-md-5 full-width" appearance="fill">
                    <mat-label>Nome do Cartão</mat-label>
                    <input matInput placeholder="1234 5678 9123 4567" >
                  </mat-form-field>
                  <mat-form-field class="col-md-5 full-width" appearance="fill">
                    <mat-label>Validade do cartão</mat-label>
                    <input matInput placeholder="05/2023" >
                  </mat-form-field>
                  <mat-form-field class="col-md-5 full-width" appearance="fill">
                    <mat-label>Código de segurança</mat-label>
                    <input matInput placeholder="123" >
                  </mat-form-field>
            </div>
              <a class="finalizar" routerLink="/pagamento/fim">Avançar</a>
        </div>
    </div>
</section>	