<nav class="navbar navbar-expand-sm hero">
    <!-- LOGO -->
    
    <a href="index.html" class="logo"><img src="../../../assets/img/logsite2.png" 
        alt="essa imagem esta com erro erro" class="lognav"/></a>

    <!-- NAVEGAÇÃO -->
    <ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link " routerLink="home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " routerLink="filme">Filmes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " routerLink="cinemas">Cinemas</a>
    </li>
    <li class="nav-item">
        <a *ngIf="situacao == true" class="nav-link login" routerLink="login">Perfil</a>
        <a class="nav-link login" routerLink="login">Login</a>
    </li>
</ul>
</nav>
<router-outlet></router-outlet>