<div>
  <section class="servicePagamneto container-fluid">
    <div class="row">
        <div class="col-md-4 telaOpcao">
        <h3>Progresso</h3>
        <div><span class="bolinhaVerde">xx</span> Escolha de sessão<br></div>
        <div><span class="bolinhaVerde">xx</span> Escolha de assento<br></div>
        <div><span class="bolinhaVerde">xx</span> Detalhes da compra<br></div>
        <div><span class="bolinhaVerde">xx</span> Forma de pagamento<br></div>
        <div><span class="bolinhaVermelho">xx</span> Finalizado<br></div>
        <a class="botaoVoltar" href="detalhes.html">Voltar</a>
        
        </div>
        <div class="col-md-8">
            <h1>Cartão de Débito:</h1>
            <div class="row">
                <mat-form-field class="col-md-5 full-width" appearance="fill">
                    <mat-label>Número do Cartão</mat-label>
                    <input matInput placeholder="Fulano de tal" >
                  </mat-form-field>
                  <mat-form-field class="col-md-5 full-width" appearance="fill">
                    <mat-label>Nome do Cartão</mat-label>
                    <input matInput placeholder="1234 5678 9123 4567" >
                  </mat-form-field>
                  <mat-form-field class="col-md-5 full-width" appearance="fill">
                    <mat-label>Validade do cartão</mat-label>
                    <input matInput placeholder="05/2023" >
                  </mat-form-field>
                  <mat-form-field class="col-md-5 full-width" appearance="fill">
                    <mat-label>Código de segurança</mat-label>
                    <input matInput placeholder="123" >
                  </mat-form-field>
            </div>
              <a class="finalizar" href="finalizar.html">Avançar</a>
        </div>
    </div>
  </section>
</div>
<div>
  <section class="servicePagamneto container-fluid">
    <div class="row">
        <div class="col-md-4 telaOpcao">
        <h3>Progresso</h3>
        <div><span class="bolinhaVerde">xx</span> Escolha de sessão<br></div>
        <div><span class="bolinhaVerde">xx</span> Escolha de assento<br></div>
        <div><span class="bolinhaVerde">xx</span> Detalhes da compra<br></div>
        <div><span class="bolinhaVerde">xx</span> Forma de pagamento<br></div>
        <div><span class="bolinhaVermelho">xx</span> Finalizado<br></div>
        <a class="botaoVoltar" href="detalhes.html">Voltar</a>
        
        </div>
        <div class="col-md-8">
            <h1>Cartão de Dinheiro:</h1>
            <div class="row">
                <div class="col-md-6 barraLateral">Pagamentos em dinheiro são pagos na hora da retirada do ingresso, para isso informe
                    o seu CPF para pode facilita na retirada do ingresso.
                </div>
                <div class="col-md-6">
                    CPF:<input type="text">
                </div>
            </div>
              <a class="finalizar" href="finalizar.html">Avançar</a>
        </div>
    </div>
</section>	
</div>
	