<!----Cartazes dos filmes---->
<section class="serviceAssento container-fluid">
    <div class="row">
        <div class="col-md-12 telaOpcao">
        <h1>Progresso</h1>

            <!--Detalhes da compra:-->
          <!--Linear isLinear=> Deixa ele aperta em qualquer um-->
          <mat-stepper class="telaOpcao" orientation="vertical" [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Detalhes da compra</ng-template>
                
              <div class="col-md-8">
                Número da Sessão: #{{sessao.idSessao}}<br>
                Data da sessão: {{sessao.dDisponivel}} / Horario da sessão: 14:30<br>
                Sala 1<br>
                Filme: {{sessao.nomeFilme}}<br>
                Cinema: {{sessao.nomeCinema}}
              </div>  
              <div>
                <button class="botao" matStepperNext>Próximo</button>
              </div>
              </form>
            </mat-step>
            
            <!--Escolhe assento:-->

            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Escolhe assento:</ng-template>
                <div class="col-md-12">
                    <h2>Assentos:</h2>
                    <div class="row" >
                        <div *ngFor="let assentos of assento">
                          <div *ngIf="assentos.situacao == true">
                            <button class="indisponivel"  disabled>
                              <mat-icon>event_seat</mat-icon>
                              <div>{{assentos.nome}}<br></div>  
                            </button>
                          </div>
                          <div *ngIf="assentos.situacao != true">
                            <button class="disponivel" type="submit" (click)="click(assentos.id, assentos.nome, assentos.situacao, assentos.qtd)" >
                              <mat-icon>event_seat</mat-icon>
                              <div>{{assentos.nome}}<br></div>  
                            </button>
                          </div>
                        </div>
                        
                        <div if="col-md-12 " id="telao"><mat-icon>movie</mat-icon></div>
                    </div>
                </div>
                <div>
                  <button class="botao" matStepperNext>Próximo</button>
                </div>
              </form>
            </mat-step>
            
            <!--Detalhes de compra-->

            <mat-step [stepControl]="treeFormGroup">
              <form [formGroup]="treeFormGroup">
                <ng-template matStepLabel>Detalhes da compra</ng-template>
                
              <div class="col-md-8">
                  <h1>Detalhes da compra:</h1>
                  Data da sessão: {{sessao.dDisponivel}}<br>
                  Horario da sessão: 14:30<br>
                  Sala 01<br>
                  <div *ngFor="let selecionados of selecionado">
                    <div *ngIf="selecionados.situacao == true">
                      Assento: {{selecionados.nome}}<br>
                      <label *ngFor="let opc of op()">
                        <button class="opc" (click)="opcao(opc.valor, opc.desc, selecionados.qtd, sessao.preco)">{{opc.desc}}</button>
                      </label>
                    </div>
                  </div>
      
              </div>
              <div>
                <button class="botao" matStepperNext>Próximo</button>
              </div>
              </form>
            </mat-step>

            <!--Forma de Pagamento-->

            <mat-step [stepControl]="fourFormGroup">
              <form [formGroup]="fourFormGroup">
                <ng-template matStepLabel>Forma de pagamento</ng-template>
                <div class="col-md-8">
                  <table>
                      <tr>
                        <th>Quantidade</th>
                        <th>Valor</th>
                      </tr>
                      <tr *ngFor="let preco of valores">
                        <div *ngIf="preco.valor == 'i'">
                          <td>{{preco.qtd}}x {{preco.desc}}</td>
                          <td>R$: {{preco.preco}},00</td>
                        </div>
                      </tr>
                      <tr *ngFor="let preco of valores">
                        <div *ngIf="preco.valor == 'm'">
                          <td>{{preco.qtd}}x {{preco.desc}}</td>
                          <td>R$: {{preco.preco}},00</td>
                        </div>
                      </tr>
                      
                      
                      <tr>
                          <td>TOTAL:</td>
                      </tr>   
                      <tr>
                        <td>R$:{{total}}</td>
                    </tr>                    
                    </table>
                    <a class="pagamento" routerLink="/pagamento/debito">Cartão de Débito</a>
                    <a class="pagamento" routerLink="/pagamento/debito">Cartão de Débito</a>
                    <a class="pagamento" routerLink="/pagamento/dinheiro">Dinheiro</a>
              </div>
              </form>
            </mat-step>
        </mat-stepper>

        
    </div>
