<div class="container-fluid telaLogin">
  <form class="form mat-elevation-z8">
      <h1>Login</h1>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email:</mat-label>
        <input [formControl]="email" required [(ngModel)]="creds.email" name="email" matInput placeholder="Ex. Fulano@hotmail.com">
      </mat-form-field>
    
      <mat-form-field class="full-width" appearance="fill">
          <mat-label>Senha:</mat-label>
          <input [formControl]="senha" required [(ngModel)]="creds.senha" name="senha" type="password" matInput placeholder="Ex. 123456">
        </mat-form-field>

        <button (click)="logar()" [disabled]="!validaCampos()" mat-raised-button class="full-width mat-elevation-z4">Login</button> 
        <p>Ainda não tem cadastro?<a routerLink="/cadastra"> Cadastre-se!</a></p>
    </form>
    
</div>