<div class="hero">
    <section class="d-flex"><!-- Capa -->
        <div id="ajuste" class="container-fluid align-self-center">
            <div class="row ">
              <div class="col-md-12 conteudo-titulo">
                  Filmes em Cartazes
              </div>
            </div>
          </div>
      </section>	
</div>

<!----Cartazes dos filmes---->

<!-----service section start----------->
<div class="about">
    <div class="conteiner-index">
        <h2>Filmes em Cartazes</h2>
    </div>
    <div class="container-fluid">
        <div class="row" >
            <div class="col-md-2" *ngFor="let filme of filmes">
                <h4>{{filme.nomeFilme}}</h4>
                <div *ngIf="filme.idFilme == 1">
                    <img src="../../../assets/img/Homem-Aranha-Sem-Volta-Para-Casa.jpg" class="img-fluid">
                </div>
                <div *ngIf="filme.idFilme == 2">
                    <img src="../../../assets/img/av img.jpg" class="img-fluid">
                </div>
                <div *ngIf="filme.idFilme == 3">
                    <img src="../../../assets/img/Thoramoretrovao.png" class="img-fluid">
                </div>
                <div *ngIf="filme.idFilme == 4">
                    <img src="../../../assets/img/multiversoloucura.jpg" class="img-fluid">
                </div>
                <div *ngIf="filme.idFilme == 5">
                    <img src="../../../assets/img/TopGunMaverick.jpg" class="img-fluid">
                </div>
                
                <a class="btn" routerLink="/filme/sobre/{{filme.idFilme}}">Compra</a>
            </div>
            
            
        </div>
        
    </div>
    
</div>
