<section class="servicePagamneto container-fluid">
    <div class="row">
        <div class="col-md-4 telaOpcao">
        <h3>Progresso</h3>
        <div><span class="bolinhaVerde">xx</span> Escolha de sessão<br></div>
        <div><span class="bolinhaVerde">xx</span> Escolha de assento<br></div>
        <div><span class="bolinhaVerde">xx</span> Detalhes da compra<br></div>
        <div><span class="bolinhaVerde">xx</span> Forma de pagamento<br></div>
        <div><span class="bolinhaVermelho">xx</span> Finalizado<br></div>
        <a class="botaoVoltar" href="detalhes.html">Voltar</a>
        
        </div>
        <div class="col-md-8">
            <h1>Cartão de Crédito:</h1>
            <div class="row">
                <div class="col-md-5 barraLateral">
                    Número do Cartão<input type="text">
                </div>
                <div class="col-md-6">
                    Nome do Cartão<input type="text">
                </div>
                <div class="col-md-5 barraLateral">
                    Validade do cartão<input type="text">
                </div>
                <div class="col-md-6">
                    Código de segurança<input type="text">
                </div>
            </div>
            <table>
                <tr>
                  <th>Quantidade</th>
                  <th>Valor</th>
                </tr>
                <tr>
                  <td>1x Inteira</td>
                  <td>R$: 20,00</td>
                </tr>
                <tr>
                    <td>1x Inteira</td>
                    <td>R$: 20,00</td>
                </tr>
                <tr>
                    <td>TOTAL:</td>
                    <td>R$: 40,00</td>
                </tr>
              </table>
              <a class="finalizar" routerLink="/assentos/formaPagamento/fim">Avançar</a>
        </div>
    </div>
</section>	