<div class="container-fluid filme" *ngIf="filme.idFilme==1" style="background-image: url('../../../../assets/img/Homem-Aranha-Sem-Volta-Para-Casa.jpg')">
        <div class="row d-flex">
            <img class="imagemfilme col-md-3 d-flex" src="../../../assets/img/Homem-Aranha-Sem-Volta-Para-Casa.jpg" alt="">
            <div class="col-md-6">
                <h1 class="titulo  d-flex align-items-end">{{filme.nomeFilme}}</h1>
            </div>
        </div>
    
</div>

<div class="container-fluid filme" *ngIf="filme.idFilme==2" style="background-image: url('../../../../assets/img/av img.jpg')">
    <div class="row d-flex">
        <img class="imagemfilme col-md-3 d-flex" src="../../../assets/img/av img.jpg" alt="">
        <div class="col-md-6">
            <h1 class="titulo  d-flex align-items-end">{{filme.nomeFilme}}</h1>
        </div>
    </div>

</div>

<div class="container-fluid filme" *ngIf="filme.idFilme==3" style="background-image: url('../../../../assets/img/Thoramoretrovao.png')">
    <div class="row d-flex">
        <img class="imagemfilme col-md-3 d-flex" src="../../../assets/img/Thoramoretrovao.png" alt="">
        <div class="col-md-6">
            <h1 class="titulo  d-flex align-items-end">{{filme.nomeFilme}}</h1>
        </div>
    </div>

</div>

<div class="container-fluid filme" *ngIf="filme.idFilme==4" style="background-image: url('../../../../assets/img/multiversoloucura.jpg')">
    <div class="row d-flex">
        <img class="imagemfilme col-md-3 d-flex" src="../../../assets/img/multiversoloucura.jpg" alt="">
        <div class="col-md-6">
            <h1 class="titulo  d-flex align-items-end">{{filme.nomeFilme}}</h1>
        </div>
    </div>

</div>

<div class="container-fluid filme" *ngIf="filme.idFilme==5" style="background-image: url('../../../../assets/img/TopGunMaverick.jpg')">
    <div class="row d-flex">
        <img class="imagemfilme col-md-3 d-flex" src="../../../assets/img/TopGunMaverick.jpg" alt="">
        <div class="col-md-6">
            <h1 class="titulo  d-flex align-items-end">{{filme.nomeFilme}}</h1>
        </div>
    </div>

</div>

<!----Cartazes dos filmes---->
<section class="serviceCinema container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Descrição:</h2>
            {{filme.descricao}}
            <br>
        </div>
    </div>
</section>
<!-----service section start----------->
<div class="aboutCinema container-fluid">
    <h1 >Seções:</h1>
    <div class="row secao"  >
        <div class="col-md-6 secao " *ngFor="let sessao of sessoes">
            <div *ngIf="sessao.idFilme == filme.idFilme">
            <h1>{{sessao.nomeCinema}}</h1>
            <h3>{{sessao.dDisponivel}}</h3>
            <div class="row barraLateral">
                <h2 class="col-md-12">Sala 1</h2>
                <div class="col-md-2">
                <a class="" routerLink="/assentos/sobre/{{sessao.idSessao}}">
                    14:30
                </a>
            </div>
        </div>
    </div>
</div>

