<div class="container-fluid filme">
    <div class="row d-flex">
        <img class="imagemfilme col-md-3 d-flex" src="../../../assets/img/2428965.jpg" alt="">
        <div class="col-md-6">
            <div class="categoria d-flex align-items-end">Ação</div>
            <div class="faixaEtaria d-flex align-items-end">14</div>
            <h1 class="titulo  d-flex align-items-end">Os Vingadores: Ultimato</h1>
        </div>
    </div>
</div>

<!----Cartazes dos filmes---->
<section class="serviceCinema container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Descrição:</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, commodi. Asperiores quisquam voluptates error ipsum a doloribus inventore quis deleniti, nisi nemo enim esse id eum dolorum facilis, ullam cumque.
            <br>
        </div>
    </div>
</section>

<!-----service section start----------->
<div class="aboutCinema container-fluid">
    <h1>Seções:</h1>
    <div class="row secao">
        <div class="col-md-6 secao ">
            <h1>Shopping ...</h1>
            <h3>20/10</h3>
            <div class="row barraLateral">
                <h2 class="col-md-12">Sala 1</h2>
                <div class="col-md-2">
                <a class="" routerLink="/assentos">
                    14:30
                </a>
                </div>
                <div class="col-md-2">16:00</div>
                <div class="col-md-2">18:30</div>
                <div class="col-md-2">19:00</div>
            </div>
            <h3>21/10</h3>
            <div class="row">
                <h2 class="col-md-12">Sala 2</h2>
                <div class="col-md-2">14:30</div>
                <div class="col-md-2">16:00</div>
                <div class="col-md-2">18:30</div>
                <div class="col-md-2">19:00</div>
            </div>
            <h3>22/10</h3>
            <div class="row">
                <h2 class="col-md-12">Sala 5</h2>
                <div class="col-md-2">14:30</div>
                <div class="col-md-2">16:00</div>
                <div class="col-md-2">18:30</div>
                <div class="col-md-2">19:00</div>
            </div>
            <h3>23/10</h3>
            <div class="row">
                <h2 class="col-md-12">Sala 6</h2>
                <div class="col-md-2">14:30</div>
                <div class="col-md-2">16:00</div>
                <div class="col-md-2">18:30</div>
                <div class="col-md-2">19:00</div>
            </div>
            <h3>24/10</h3>
            <div class="row">
                <h2 class="col-md-12">Sala 8</h2>
                <div class="col-md-2">14:30</div>
                <div class="col-md-2">16:00</div>
                <div class="col-md-2">18:30</div>
                <div class="col-md-2">19:00</div>
            </div>
        </div>
        <div class="col-md-6 secao ">
            <h1>Shopping ...</h1>
            <h3>20/10</h3>
            <div class="row barraLateral">
                <h2 class="col-md-12">Sala 1</h2>
                <div class="col-md-2">
                <a class="" href="assentos.html">
                    14:30
                </a>
                </div>
                <div class="col-md-2">16:00</div>
                <div class="col-md-2">18:30</div>
                <div class="col-md-2">19:00</div>
            </div>
            <h3>21/10</h3>
            <div class="row">
                <h2 class="col-md-12">Sala 2</h2>
                <div class="col-md-2">14:30</div>
                <div class="col-md-2">16:00</div>
                <div class="col-md-2">18:30</div>
                <div class="col-md-2">19:00</div>
            </div>
            <h3>22/10</h3>
            <div class="row">
                <h2 class="col-md-12">Sala 5</h2>
                <div class="col-md-2">14:30</div>
                <div class="col-md-2">16:00</div>
                <div class="col-md-2">18:30</div>
                <div class="col-md-2">19:00</div>
            </div>
            <h3>23/10</h3>
            <div class="row">
                <h2 class="col-md-12">Sala 6</h2>
                <div class="col-md-2">14:30</div>
                <div class="col-md-2">16:00</div>
                <div class="col-md-2">18:30</div>
                <div class="col-md-2">19:00</div>
            </div>
            <h3>24/10</h3>
            <div class="row">
                <h2 class="col-md-12">Sala 8</h2>
                <div class="col-md-2">14:30</div>
                <div class="col-md-2">16:00</div>
                <div class="col-md-2">18:30</div>
                <div class="col-md-2">19:00</div>
            </div>
        </div>
    </div>
</div>