<div class="container-fluid cinema">
    <div class="row d-flex">
        <img class="imagemCinema col-md-3 d-flex" src="../../../assets/img/logo-1360163271218.png" alt="">
        <h1 class="titulo col-md-6 d-flex align-items-end">{{cinema.nomeCinema}}</h1>
    </div>
</div>

<!----Cartazes dos filmes---->
<section class="serviceCinema container-fluid">
    <div class="row">
        <div class="col-md-6 barraLateral">
            <h2>Endereço:</h2>
             {{cinema.cidade}}<br>
        </div>
        <div class="col-md-6">
            <h2>Horarios:</h2>
            Segunda: {{cinema.hAbrir}} ás {{cinema.hFechar}};<br>
            Terça: {{cinema.hAbrir}} ás {{cinema.hFechar}};<br>
            Quarta: {{cinema.hAbrir}} ás {{cinema.hFechar}};<br>
            Quinta: {{cinema.hAbrir}} ás {{cinema.hFechar}};<br>
            Sexta: {{cinema.hAbrir}} ás {{cinema.hFechar}};<br>
            Sab e Dom: {{cinema.hAbrir}} ás {{cinema.hFechar}};<br>
        </div>
    </div>
    
    
    
</section>

<!-----service section start----------->
<div class="aboutCinema container-fluid">
    <h1>Filmes e seções:</h1>
    <div id="carousel-legenda" class="carousel slide col-md-12" data-ride="carousel"><!--Carousel -->

                <!-- Indicadores -->
                <ol class="carousel-indicators">

                <li class="active" data-target="#carousel-legenda" data-slide-to="0"></li>

                <li data-target="#carousel-legenda" data-slide-to="1"></li>

                <li data-target="#carousel-legenda" data-slide-to="2"></li>

                </ol>
                    
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-2">
                                <a class="" routerLink="/filme/sobreFilme">
                                    <img src="../../../assets/img/2428965.jpg">
                                    <div class="carousel-caption">
                                        <div>
                                            <h3>Vingadores</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <img src="../../../assets/img/2428965.jpg">
                                <div class="carousel-caption">
                                    <div>
                                        <h3>Batman</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <img src="../../../assets/img/2428965.jpg">
                                <div class="carousel-caption">
                                    <div>
                                        <h3>Minios</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <img src="../../../assets/img/2428965.jpg">
                                <div class="carousel-caption">
                                    <div>
                                        <h3>Vingadores</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <img src="../../../assets/img/2428965.jpg">
                                <div class="carousel-caption">
                                    <div>
                                        <h3>Batman</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <img src="../../../assets/img/2428965.jpg">
                                <div class="carousel-caption">
                                    <div>
                                        <h3>Minios</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="../../../assets/img/2428965.jpg">
                            <div class="carousel-caption">
                                <div>
                                    <h3>Vingadores</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <img src="../../../assets/img/2428965.jpg">
                            <div class="carousel-caption">
                                <div>
                                    <h3>Batman</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <img src="../../../assets/img/2428965.jpg">
                            <div class="carousel-caption">
                                <div>
                                    <h3>Minios</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <img src="../../../assets/img/2428965.jpg">
                            <div class="carousel-caption">
                                <div>
                                    <h3>Vingadores</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <img src="../../../assets/img/2428965.jpg">
                            <div class="carousel-caption">
                                <div>
                                    <h3>Batman</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <img src="../../../assets/img/2428965.jpg">
                            <div class="carousel-caption">
                                <div>
                                    <h3>Minios</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="../../../assets/img/2428965.jpg">
                            <div class="carousel-caption">
                                <div>
                                    <h3>Vingadores</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <img src="../../../assets/img/2428965.jpg">
                            <div class="carousel-caption">
                                <div>
                                    <h3>Batman</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <img src="../../../assets/img/2428965.jpg">
                            <div class="carousel-caption">
                                <div>
                                    <h3>Minios</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <img src="../../../assets/img/2428965.jpg">
                            <div class="carousel-caption">
                                <div>
                                    <h3>Vingadores</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <img src="../../../assets/img/2428965.jpg">
                            <div class="carousel-caption">
                                <div>
                                    <h3>Batman</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <img src="../../../assets/img/2428965.jpg">
                            <div class="carousel-caption">
                                <div>
                                    <h3>Minios</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </div><!--/Inner -->

                <!-- Controles -->
                <a href="#carousel-legenda" class="" data-slide="prev">
                </a>

                <a href="#carousel-legenda" class="" data-slide="next">
                </a>

            </div><!--/Carousel -->

<div class="serviceCinema container-fluid">
    <h1>Preços:</h1>
    <div class="row">
        <div class="col-md-6 barraLateral">
            <h1>Inteiro</h1>
            <h3>Igrensso 2D </h3>
            R$ 25,00 <br>
            <h3>Ingresso 3D</h3>
            R$ 40,00 <br>
        </div>
        <div class="col-md-6">
            <h1>Meia</h1>
            <p>Obs: Para quem possuir carteira de estudante, menores de 9 anos e maiores de 60 anos.</p>
            <h3>Igrensso 2D </h3>
            R$ 12,50 <br>
            <h3>Ingresso 3D</h3>
            R$ 20,00 <br>
        </div>
    </div>
    
</div>