<div class="container-fluid cinema">
    <div class="row d-flex">
        <img class="imagemCinema col-md-3 d-flex" src="../../../../assets/img/logo.jpg" alt="">
        <h1 class="titulo col-md-6 d-flex align-items-end">{{cinema.nomeCinema}}</h1>
    </div>
</div>

<!----Cartazes dos filmes---->
<section class="serviceCinema container-fluid">
    <div class="row">
        <div class="col-md-6 barraLateral">
            <h2>Endereço:</h2>
             {{cinema.cidade}}<br>
        </div>
        <div class="col-md-6">
            <h2>Horarios:</h2>
            Segunda: {{cinema.hAbrir}} ás {{cinema.hFechar}};<br>
            Terça: {{cinema.hAbrir}} ás {{cinema.hFechar}};<br>
            Quarta: {{cinema.hAbrir}} ás {{cinema.hFechar}};<br>
            Quinta: {{cinema.hAbrir}} ás {{cinema.hFechar}};<br>
            Sexta: {{cinema.hAbrir}} ás {{cinema.hFechar}};<br>
            Sab e Dom: {{cinema.hAbrir}} ás {{cinema.hFechar}};<br>
        </div>
    </div>
    
    
    
</section>

<!-----service section start----------->
<div class="aboutCinema container-fluid">
    <h1>Filmes:</h1>
    <div class="container-fluid">
        <div class="row" >
            <div class="col-md-2" *ngFor="let filme of filmes">
                <h4>{{filme.nomeFilme}}</h4>
                <div *ngIf="filme.idFilme == 1">
                    <img src="../../../assets/img/Homem-Aranha-Sem-Volta-Para-Casa.jpg" class="img-fluid">
                </div>
                <div *ngIf="filme.idFilme == 2">
                    <img src="../../../assets/img/av img.jpg" class="img-fluid">
                </div>
                <div *ngIf="filme.idFilme == 3">
                    <img src="../../../assets/img/Thoramoretrovao.png" class="img-fluid">
                </div>
                <div *ngIf="filme.idFilme == 4">
                    <img src="../../../assets/img/multiversoloucura.jpg" class="img-fluid">
                </div>
                <div *ngIf="filme.idFilme == 5">
                    <img src="../../../assets/img/TopGunMaverick.jpg" class="img-fluid">
                </div>
                
                <a class="btn" routerLink="/filme/sobre/{{filme.idFilme}}">Compra</a>
            </div>
        </div>

    </div>
<div class="serviceCinema container-fluid">
    <h1>Preços:</h1>
    <div class="row">
        <div class="col-md-6 barraLateral">
            <h1>Inteiro</h1>
            <h3>Igrensso 2D </h3>
            R$ 25,00 <br>
            <h3>Ingresso 3D</h3>
            R$ 40,00 <br>
        </div>
        <div class="col-md-6">
            <h1>Meia</h1>
            <p>Obs: Para quem possuir carteira de estudante, menores de 9 anos e maiores de 60 anos.</p>
            <h3>Igrensso 2D </h3>
            R$ 12,50 <br>
            <h3>Ingresso 3D</h3>
            R$ 20,00 <br>
        </div>
    </div>
    
</div>